<div class="row mx-4">
  <div class="col-md-6 col-sm-3">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}<br/>
      Nombre de cvs sélectionnés: {{ (embauches$ | async)?.length ?? 0 }}
    </div>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: cvs == juniors }"
              (click)="displayJuniors()"
            >Juniors</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: cvs == seniors }"
              (click)="displaySeniors()"
            >Seniors</a>
          </li>
        </ul>
      </div>
      <!--      <app-cv-list (forwardCv)="onForwardCv($event)" [cvs]="cvs$ | async"></app-cv-list>-->
      <app-cv-list (forwardCv)="onForwardCv($event)" [cvs]="cvs"></app-cv-list>
    </div>
  </div>
  <div class="col-md-6 col-sm-9">
    <app-cv-card [cv]="selectedCv"></app-cv-card>
  </div>
</div>
<div>
  <app-embauche></app-embauche>
</div>
